body {
    margin: 0 30% 1% 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2, h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    color: maroon;
}
.dec-letter {
    font-family: 'IM Fell English SC', serif;
    font-size: 32pt;
    text-shadow: 2px 1px 2px grey;
    float: left;
    margin-right: 5px;
}
.text {
    color: maroon;
    font-weight: bold;
}
div.definition {
    background-color: rgb(253, 227, 227);
    padding: 5px;
    text-align: justify;
}
div.theorem {
    padding: 5px;
    border: 2px solid maroon;
    text-align: justify;
}
div.picture {
    width: 150px;
    height: 215px;
    float: right;
    text-align: center;
    vertical-align: bottom;
}
.try {
    position: absolute; 
    top: 365px; 
    left: 62%; 
    opacity: 0%;
}
.try:hover {
    opacity: 100%;
}
img {
    margin-top: 10px;
    float: right;
    width: 150px;
    height: 160px;
}
img:hover {
    opacity: 50%;
}
table {
    border: 1px solid maroon;
    border-collapse: collapse;
    margin: 0 auto;
}
tr, td {
    height: 10px;
    width: 70px;
    border: 2px solid maroon;
    border-collapse: collapse;
    text-align: center;
    padding: 0;
    font-size: 10pt;
}
.row1-2 {
    background-color: rgb(250,210,200);
}
.row3-5 {
    background-color: rgb(230,200,200);
}
.row4 {
    background-color: rgb(250,221,216);
}
.part{
    font-weight: bold;
    font-style: italic;
}