body {
    margin: 1% 15%;
}
.apple {
    float: left;
    margin-left: 18.3%;
    margin-top: 1%;
    width: 2em;
    height: 2em;
}
header {
    background-color: #9ABDCE;
    text-align: right;
    word-spacing: 10px;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: bold;
    width: 59%;
    margin: 0 auto;
    padding: 1.5em 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1%;
}
main {
    background-color: #ECF5FF;
    color: black;
    padding: 1%;
    width: 58%;
    margin: 0 auto;
    text-align: justify;
}
div.left {
    width: 65%;
    margin-right: 2%;
    word-spacing: 4px;
}
div.right {
    position: absolute;
    top: 13%;
    left: 57.5%;
    text-align: justify;
    width: 13%;
}
a {
    color: #5C717C;
}
a:hover {
    color: #6a92d8;
}
div.little {
    color: #444;
    font-weight: bold;
    position: inline;
    font-size: 11pt;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(126, 158, 206);
}
div.grad {
    background: linear-gradient(to bottom, rgba(106,146,216,1), rgb(150, 206, 228));
    border-radius: 5px 5px 0 0;
    color: rgba(146, 182, 235, 0.7);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    height: 3em;
    margin-bottom: 5px;
    padding: 5px 5px 0 0;
}
.eagle {
    width: 11em;
    height: 6em;
    margin-bottom: 1px;
}
.eagle:hover {
    opacity: 75%;
}